<style type="text/css">
    .k-grid-header th.k-header > .k-link 
    {
        cursor: default;
    }
</style>
<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Daily Sales Report Information</td></tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Airline
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AirlineCode")
                                @Html.TextBox("Text_AirlineCode", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank",  style = "width:200px;" })
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @*<input type="radio" name="Filter" value="" id="IsAll" checked="checked">All*@
                                <input type="radio" name="Filter" value="0" id="IsSales" checked="checked"><label for="Sales">Master Airline</label>
                                <input type="radio" name="Filter" value="1" id="IsInterlineAWb">Interline
                                <input type="radio" name="Filter" value="2" id="IsInterline">Interline - OAL
                                <input type="radio" name="Filter" value="3" id="IsInterline">All Sales
                            </td>
                        </tr>
                        <tr class='formSection'>
                            <td class="formlabel"><font color='red'></font>Origin</td>
                            <td class="formInputcolumn">
                                @Html.Hidden("Origin")
                                @Html.TextBox("Text_Origin", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
                            </td>
                            <td class="formlabel">Destination</td>
                            <td class="formInputcolumn">
                                @Html.Hidden("Destination")
                                @Html.TextBox("Text_Destination", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
                            </td>
                        </tr>
                        <tr class='formSection'>
                            <td class="formlabel">Office</td>
                            <td class="formInputcolumn">
                                @Html.Hidden("OfficeSNo")
                                @Html.TextBox("Text_OfficeSNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
                            </td>
                            <td class="formlabel">Agent Name</td>
                            <td class="formInputcolumn">
                                @Html.Hidden("AgentSNo")
                                @Html.TextBox("Text_AgentSNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='From Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    From Date
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 200px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class='formlabel' title='To Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    To Date
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 200px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>
                        <tr class='formSection'>
                            <td class='formlabel' title='AWB No'>
                                <span id='spnAirlineCode'>
                                    AWB No
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AWBNo")
                                @Html.TextBox("Text_AWBNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
                            </td>
                            <td class="formlabel">Date Type</td>
                            <td class="formInputcolumn">
                                <input type="radio" name="DateTypeFilter" id="IsBookingDate" checked="checked" value="B">Booking Date
                                <input type="radio" name="DateTypeFilter" id="IsFlightDate" value="E">Flight Date
                            </td>
                        </tr>
                        <tr>
                            <td class='formlabel' colspan="2">
                                <span style="float :left;font-size:10px;">
                                    Note : Sales-AWB on carrier;Interline(AWB)-AWB on Other Carrier's;Interline-Other's AWB on Carrier.
                                </span>
                            </td>
                            <td class='formlabel' title='AWB No'>
                                <span id='spnAirlineCode'>
                                </span>
                            </td>
                            <td class='formInputcolumn'></td>
                        </tr>
                        <tr>
                            <td class='formlabel'>
                                @*<form id="df" action="../DailySalesReport/ExportToExcel" method="post">
                                    <input id="AirlineCode" type="hidden" name="AirlineCode" value="" />
                                    <input id="FromDate" type="hidden" name="FromDate" value="" />
                                    <input id="ToDate" type="hidden" name="ToDate" value="" />
                                    <input id="Type" type="hidden" name="Type" value="" />
                                    <input id="DateType" type="hidden" name="DateType" value="" />*@
                                    <div id="exportflight" style="float:left;"><button type="submit" onclick="ExportToExcel_DailySalesReport()">
                                    <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" title="Export To Excel" /></button></div>
                                @*</form>*@
                            </td>
                            <td class='formInputcolumn'>
                                <input type='submit' name='operation' onclick="SearchDailySalesReport()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                            </td>
                            <td class="formlabel"></td>
                            <td class="formInputcolumn"></td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
                <table id='tbl'></table>
                <div id="FlightDetails">
                </div>
            </div>
        </div>
        <div id="example">
            <div id="grid" style="font-size:11px;"></div>
            <script src="~/JScript/Reservation/DailySalesReport.js"></script>
        </div>
    </section>
</div>



