<style type="text/css">
    .k-grid-header th.k-header > .k-link {
        cursor: auto;
    }
</style>

@Scripts.Render("~/bundles/PaymentStatusReport")

<div id="divbody" style="height:auto">
    <table class='WebFormTable' id='tbl' validateonsubmit=true>
        <tr><td class='formSection' colspan='4'>Payment Status Report </td></tr>
        <tr class="DateWiseRow">
            <td class=' formlabel' title='From Date'>
                <font color='red'>*</font><span id='spnAirlineCode'>
                    Start Date :
                </span>
            </td>
            <td class='formInputcolumn'>
                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
            </td>
            <td class=' formlabel' title='To Date'>
                <font color='red'>*</font><span id='spnAirlineCode'>
                    End Date :
                </span>
            </td>
            <td class='formInputcolumn'>
                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
            </td>
        </tr>

        <tr class='DateWiseRow'>

            <td class="formlabel"><font color='red'></font>Payment Type</td>
            <td class="formInputcolumn">

                @Html.Hidden("PaymentType")
                @Html.TextBox("Text_PaymentType", null, new { controltype = "autocomplete", data_role = "autocomplete" })

            </td>
            <td class="formlabel"><font color='red'></font>Agent Name</td>
            <td class="formInputcolumn">

                @*@Html.Hidden("AgentName")
        @Html.TextBox("Text_AgentName", null, new { controltype = "autocomplete", data_role = "autocomplete" })*@
                @Html.Hidden("AgentName")
                @Html.TextBox("Text_AgentName", null, new { controltype = "autocomplete", data_role = "autocomplete" })

            </td>
        </tr>
        <tr>
            <td class="formlabel">Payment Status</td>
            <td class="formInputcolumn">

                @Html.Hidden("PaymentStatus")
                @Html.TextBox("Text_PaymentStatus", null, new { controltype = "autocomplete", data_role = "autocomplete" })


            </td>
            <td class="formlabel"></td>
        </tr>



        <tr>
            <td class=' formlabel'>
                <div id="exportflight" style="float:left;">
                    <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" onclick="ExportToExcel()" title="Export To Excel" />
                </div>
            </td>
            <td class='formInputcolumn'>
                <input type='submit' name='operation' onclick="SearchPaymentStatusReport()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
            </td>
            <td class="formlabel"></td>
            <td class="formInputcolumn"></td>

        </tr>
    </table>
    <br />
    <br />
    <div id='divCreditLimitReport' style="overflow-x: auto;">
        <span id='spnCreditLimitReport'>
            <input id='hdnPageType' name='hdnPageType' type='hidden' />
            <input id='hdnCreditLimitReportSNo' name='hdnCreditLimitReportSNo' type='hidden' />
            <table id='tblCreditLimitReport' Style='margin-top: 20px;'></table>
        </span>
    </div>
</div>





