

<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Penalty Report</td></tr>
                        <tr><td class='formActiontitle' colspan='4'><span id='__SpanHeader__'></span><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>
                       

                        <tr class="trpSubmit"><td class='formbuttonrow' colspan='4'><input type='submit' id="Penalty" onclick="UpdateDataAWBReservationPenaltyApproved()" name='operation' value='Approve' class='btn btn-success' /></td></tr>
                  

                        
                        @*<tr>
                          
                           
                            <td class='formlabel' colspan='1' align="right">
                                <span id='spnAirlineCode'>

                                    <label> Penalty Type</label>
                                </span>
                                @Html.Hidden("PenaltyType")
                                @Html.TextBox("Text_PenaltyType", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Penalty Type  can not be blank" })


                                <input type="radio" name="PenaltyType" id="NoShow" value="0"><label for="NoShow">No Show</label>
            <input type="radio" name="PenaltyType" id="Void" value="1"><label for="Void">Void</label>
            <input type="radio" name="PenaltyType" id="Cancelation" value="3"><label for="Cancelation">Cancellation</label>
                            </td>
                            <td class='formlabel' colspan='1' align="left"></td>
                            <td class='formlabel' colspan='3' align="left">
</tr>*@



                        <tr class="AWBNoRow">

                            <td class=' formlabel' title='PenaltyType'>
                                <font color='red'>*</font><span id='spnpenaltytype'>
                                                              Penalty Type :
                                </span>



                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("PenaltyType")
                                @Html.TextBox("Text_PenaltyType", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Penalty Type  can not be blank" })




                            </td>
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Airline Name :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AirLineSNo")

                                @Html.TextBox("Text_AirLineSNo", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "AirLine Name can not be blank" })
                            </td>
                           
                        </tr>
                        @*<tr class="DateWiseRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    From Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class=' formlabel' title='Office'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    To Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>*@

       




                        <tr class="AWBNoRow">

                            <td class='formlabel' title='Origin City'>
                                <span id='spnpenaltytype'>
                                    Origin City :
                                </span>



                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("OriginCity")
                                @Html.TextBox("Text_OriginCity", null, new {controltype = "autocomplete", data_role = "autocomplete"})




                            </td>
                            <td class=' formlabel' title='AWBNo'>
                               <span id='spnAirlineCode'>
                                    AWB No :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AWBNo")

                                @Html.TextBox("Text_AWBNo", null, new {controltype = "autocomplete", data_role = "autocomplete"})
                            </td>

                        </tr>

                        <tr class="FlightNo">

                            <td class=' formlabel' title='Flight No'>
                                <span id='spnpenaltytype'>
                                    Flight No :
                                </span>



                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("FlightNo")
                                @Html.TextBox("Text_FlightNo", null, new { controltype = "autocomplete", data_role = "autocomplete" })




                            </td>
                            @*<td class='formlabel' title='' id="tdreference">
                                <span id='spnpenaltytype'>
                                    Reference Number :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("ReferenceNumber")
                                @Html.TextBox("Text_ReferenceNumber", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                                </td>*@
                            <td class='formlabel' title='Report Type'>
                                <span id='spnpenaltytype'>
                                    Report Type :
                                </span>



                            </td>
                            <td class='formInputcolumn' title='Report Type' align="left">
                               @*<span id='spnAirlineCode' align="left" >*@
                                   <input type="radio" name="BasedOn" id="RbtnBookingDate" value="BD" checked="checked"><label for="BookingDate">Booking Date</label>
                                   <input type="radio" name="BasedOn" id="RbtnFlightDate" value="FD" ><label for="FlightDate">Flight Date</label>
                            
                                @*</span>*@
                            </td>
                            @*<td class='formInputcolumn'>
                                
                                <input type='text' name='FlightDate' id='FlightDate' style='width: 133px;' 
                                       data-role="datepicker" controltype='datetype' value='' placeholder='Flight Date' />
                            </td>*@

                        </tr>

                        <tr class="DateWiseRow">
                            <td class=' formlabel' title='From Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    From Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class=' formlabel' title='To Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    To Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>

                        <tr>
                            <td class='formlabel' title='' id="tdagent" >
                                <span id='spnpenaltytype'>
                                    Agent Name :
                                </span>
                            </td>
                            <td class='formInputcolumn' id="tdagentvalue">
                                @Html.Hidden("AgentSno")
                                @Html.TextBox("Text_AgentSno", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                            </td>
                            <td class='formlabel' title='' id="tdreference">
                                <span id='spnpenaltytype'>
                                    Reference Number :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("ReferenceNumber")
                                @Html.TextBox("Text_ReferenceNumber", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                            </td>

                        </tr>

                
                        <tr>
                            <td class=' formlabel' title='Airline '>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    <input type='submit' name='operation' onclick="SearchVoidData()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel' align="left">
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                                <form id="df1" action="../PenaltyReport/PenaltyReportExportToExcel" method="post">
                                    <input id="FromDate" type="hidden" name="FromDate" value="" />
                                    <input id="ToDate" type="hidden" name="ToDate" value="" />
                                    <input id="AirLineSNo" type="hidden" name="AirLineSNo" value="" />
                                    <input id="AccountSNo" type="hidden" name="AccountSNo" value="" />
                                    <input id="PenaltyType" type="hidden" name="PenaltyType" value="" />
                                    <input id="OriginCity" type="hidden" name="OriginCity" value="" />
                                    <input id="FlightNo" type="hidden" name="FlightNo" value="" />
                                    <input id="AWBNo" type="hidden" name="AWBNo" value="" />
                                    <input id="ReferenceNumber" type="hidden" name="ReferenceNumber" value="" />
                                    <input id="FlightDate" type="hidden" name="FlightDate" value="" />
                                    <input id="BookingDate" type="hidden" name="BookingDate" value="" />
                                    <input id="ReportType" type="hidden" name="ReportType" value="" />
                                    
                                </form>

                                <input type='submit' name='operation' onclick="ExportToExcel()" style="display: inline-block;margin-right: 360px;"  value='Export To Excel' id="btnExportToExcel" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />



                    <div id="BindBlakListTable" style="width:100%">

                    </div>
                </div>

            </div>
        </div>
        <br />
        <div id="example">
            <div id="grid" style="font-size:14px;"></div>
            <script src="~/JScript/Export/PenaltyReport.js"></script>

        </div>


    </section>

    <input type="hidden" value="@ViewBag.uid" id="uid" />

</div>