<table class='WebFormTable' id='tbl' validateonsubmit=true>
    <tr><td class='formSection' colspan='10'>Search TACT Report </td></tr>
    <tr><td class='formlabel' colspan='10'><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>
    <tr class='formSection'>

        <td class="formlabel"><font color='red'>*</font>Airline</td>
        <td class="formInputcolumn">

            @Html.Hidden("Airline")
            @Html.TextBox("Text_Airline", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank" })

        </td>
        <td class="formlabel"></td>
        <td class="formInputcolumn">

            
            @Html.Label("")

        </td>
        </tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'>*</font>Origin</td>
        <td class="formInputcolumn">

            @Html.Hidden("Origin")
            @Html.TextBox("Text_Origin", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Origin Name can not be blank" })

        </td>
        <td class="formlabel"><font color='red'>*</font>Destination</td>
        <td class="formInputcolumn">

            @Html.Hidden("Destination")
            @Html.TextBox("Text_Destination", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Destination Name can not be blank" })


        </td>





    </tr>
   
    
    <tr class='formSection'>
        <td colspan='10'>
            <input type="button" name='SearchSave' value='Search' class='btn btn-success' id="btnSubmit" />
            @*<input type="button" name='ExcelVersionDetails' value='Export To Excel' class='btn btn-success' id="btnSubmit" src="../Images/IconExcel.png" />*@
            <div id="exportflight" style="margin-left: 68px;margin-top: -26px; display:none"><img id=" imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer;" title="Export To Excel"  /></div>
        </td>
    </tr>


</table>

    <div class="k-grid-header-wrap" id="grid">
        <br />
        <table id="tblsearchrateList" class="appendGrid ui-widget" style="margin-bottom:10px;" align="center">
            <thead class='ui-widget-header' style='text-align:center' id="theadid"></thead>
            <tbody id="tbodyid" class="ui-widget-content"></tbody>
        </table>
    </div>


<script src="~/Scripts/jquery-ui-1.10.2.custom.min.js"></script>

<script src="~/JScript/Rate/SearchTactRate.js"></script>
