
<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Generate And View Invoice Report</td></tr>

                        <tr class="formInputcolumn">
                            <td class='formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirline'>
                                    Airline :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Airline")
                                @Html.TextBox("Text_Airline", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Select Airline" })
                            </td>
                            <td class='formlabel' title='OfficeName'>
                                <font color='red'>*</font><span id='spnOfficeName'>
                                    Office Name :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("OfficeName")
                                @Html.TextBox("Text_OfficeName", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Select OfficeName" })
                            </td>
                        </tr>
                        <tr class="formInputcolumn">
                            <td class='formlabel' title='Month'>
                                <font color='red'>*</font><span id='spnMonth'>
                                    Month :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Month")
                                @Html.TextBox("Text_Month", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Select Month" })
                            </td>
                            <td class='formlabel' title='Year'>
                                <font color='red'>*</font><span id='spnYear'>
                                    Year :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Year")
                                @Html.TextBox("Text_Year", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Select Year" })
                                @Html.Hidden("Fortnight")
                                @Html.TextBox("Text_Fortnight", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Select Fortnight" })

                            </td>
                        </tr>
                        <tr class="formInputcolumn">
                            <td class="formlabel"><font color='red'>*</font>Currency</td>
                            <td class="formInputcolumn">

                                @Html.Hidden("Currency")
                                @Html.TextBox("Text_Currency", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", style = "width:133px;", data_valid_msg = "Currency can not be blank", })

                            </td>
                            <td class='formlabel' title=''>
                                <font color=''></font><span id=''>
                                
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                            </td>

                        </tr>

                        <tr>
                            <td class='formlabel'>
                                @*<form id="ASToExcel" action="../GenrateAndViewInvoice/ExportToExcel" method="post">
        <input id="DestinationAirPortSNo" type="hidden" name="DestinationAirPortSNo" value="" />*@
                                <div style="float:left; display: block;">
                                    <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" title="Export To Excel" onclick="ExportToExcel()" />
                                </div>
                                <div style="float:left; display: block;">
                                    <img id="imgpdf" src="../Images/iconPDF.png" style="width:30px;height:30px;cursor: pointer" title="Export To PDF" onclick="ExportToPDF()" />
                                </div>
                                @*</form>*@
                            </td>

                            <td class='formlabel'></td>
                            <td class='formlabel'></td>
                            <td class='formInputcolumn' title='Search'>
                                <input type='submit' name='operation' onclick="GenerateAndViewInvoiceData(0)" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                                <input type='button' name='operation' onclick="PrintInvoice()" value='Print' id="btnPrint" class='btn btn-info btnPrint' />
                                <input type='button' name='operation' onclick="fn_SendMail()" value='Send Mail' id="btnSendMail" class='btn btn-info btnSendMail' />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div id="grid" style="font-size:11px;"></div>
                <div id="gridHide" style="font-size:11px;display:none;"></div>
                <form method="post" name="aspnetForm" id="aspnetForm"></form>
                <script src="~/Scripts/pdfmake.js"></script>
                <script src="~/Scripts/html2canvas.js"></script>
                <script src="~/JScript/Report/GenerateAndViewInvoice.js"></script>

            </div>
            <div id="tblSendMail" style="display:none;">
                <table class="appendGrid">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Invoice No</td>
                            <td>GSA/CSA/Airline</td>
                            <td>Email</td>
                            <td>Email Subject</td>
                        </tr>
                    </thead>
                    <tbody id="bodySendMail">
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" align="right">
                                <input type='button' name='operation' onclick="fn_MailSent()" value='Send' id="btnSend" class='btn btn-info btnSend' />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
</div>