

<div id="divbody" style="height:auto">

    @*@using (Html.BeginForm("GetAirlineData", "AWBStockStatus", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@


    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        @*<tr><td class='formSection' colspan='4'>Black List AWB Report</td></tr>
                        <tr><td class='formActiontitle' colspan='4'><span id='__SpanHeader__'>Black List AWB Report</span><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>*@
                       
                        <tr><td class='formSection' colspan='4'>Black List AWB Report Information</td></tr>
                        <tr>
                            <td class=' formlabel' >
                                <font color='red'></font><span id='spnAirlineCode'>
                                    <input type="radio" name="Filter" id="AWbNoCheck" value="A">AWB No
                                    <input type="radio" name="Filter" id="DateWise" value="D"> Date Wise
                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                        </tr>

                        <tr class="DateWiseRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Airline
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AWBPrefix")


                                @Html.TextBox("Text_AWBPrefix", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank" })
                            </td>
                            <td class=' formlabel' title='City'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    City

                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("CitySNo")
                                @Html.TextBox("Text_CitySNo", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Office'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    Office
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("OfficeSNo")


                                @Html.TextBox("Text_OfficeSNo", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                            </td>
                            <td class='formlabel' title='Agent'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    Agent
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AgentSNo")


                                @Html.TextBox("Text_AgentSNo", null, new { controltype = "autocomplete", data_role = "autocomplete" })
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class=' formlabel' title='From Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    From Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class=' formlabel' title='To Date'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    To Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class=' formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    Stock Type :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type="radio" name="StockType" checked="checked" value="1"> Cargo
                                <input type="radio" name="StockType" value="2"> Courier
                               
                            </td>
                            <td class=' formlabel' >
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formInputcolumn'></td>
                        </tr>
                        <tr class="AWBNoRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    AWB No :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AWbNo")
                                @Html.TextBox("Text_AWbNo", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "AWB NO can not be blank" })
                            </td>
                            <td class=' formlabel' >
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formInputcolumn'></td>
                        </tr>
                        <tr>
                            <td class=' formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    <input type='submit' name='operation' onclick="SearchBlackListAWB()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />



                    <div id="BindBlakListTable" style="width:100%">

                    </div>
                </div>

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <div id="example">
            <div id="grid" style="font-size:14px;"></div>
            <script src="~/JScript/BlackListAWBHistory/BlackListAWBHistory.js"></script>

        </div>


    </section>
    @*}*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".k-hierarchy-cell").click();
        });

        $('tr.k-master-row').click(function () {
            $(this).nextUntil('tr.k-master-row').css('display', function (i, v) {
                return this.style.display === 'table-row' ? 'none' : 'table-row';
            });
        });

    </script>
</div>



