<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Load Factor Report</td></tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Origin'>
                                <font color='red'></font><span id='spnOrigin'>
                                    Origin :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Origin")
                                @Html.TextBox("Text_Origin", null, new { controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = ""})
                            </td>
                            <td class='formlabel' title='Destination'>
                                <font color='red'></font><span id='spnDestination'>
                                    Destination :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Destination")
                                @Html.TextBox("Text_Destination", null, new { controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "" })
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='From Date'>
                                <font color='red'></font><span id='spnFromDate'>
                                    From Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class='formlabel' title='To Date'>
                                <font color='red'></font><span id='spnToDate'>
                                    To Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Flight No'>
                                <font color='red'></font><span id='spnFlightNo'>
                                    Flight No. :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("FlightNo")
                                @Html.TextBox("Text_FlightNo", null, new { controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "" })
                            </td>
                            <td class='formlabel' title=''>
                                <font color='red'></font><span id='spnToDate'>
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                            </td>
                        </tr>
                        <tr>
                            <td class='formlabel'>
                                <form id="LoadFactorFlightToExcel" action="../LoadFactorFlight/ExportToExcel" method="post">
                                    <input id="OriginAirPortSNo" type="hidden" name="OriginAirPortSNo" value="" />
                                    <input id="DestinationAirPortSNo" type="hidden" name="DestinationAirPortSNo" value="" />
                                    <input id="FromDate" type="hidden" name="FromDate" value="" />
                                    <input id="ToDate" type="hidden" name="ToDate" value="" />
                                    <input id="FlightNo" type="hidden" name="FlightNo" value="" />
                                    <div style="float:left; display: block;">
                                        <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" title="Export To Excel" onclick="ExportToExcel()" />
                                    </div>
                                </form>
                            </td>
                            <td class='formInputcolumn' title='Search'>
                                <input type='submit' name='operation' onclick="LoadFactorFlightData()" value='Search' id="btnSearchData" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel'></td>
                            <td class='formlabel'></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div id="grid" style="font-size:11px;"></div>
                <script src="~/JScript/Report/LoadFactorFlight.js"></script>
            </div>
        </div>
    </section>
</div>