<table class='WebFormTable' id='tbl' validateonsubmit=true>
    <tr><td class='formSection' colspan='10'>POMail Report </td></tr>
    <tr><td class='formlabel' colspan='10'><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>
    <tr class='formSection'>

        <td class="formlabel"><font color='red'>*</font>Airline Name</td>
        <td class="formInputcolumn">

            @Html.Hidden("Airline")
            @Html.TextBox("Text_Airline", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank", style = "width:200px;" })

        </td>
        <td class="formlabel"></td>
        <td class="formInputcolumn">

            @*@Html.Hidden("SHC")
            @Html.TextBox("Text_SHC", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:250px;" })*@


        </td>

    </tr>
    
    <tr class='formSection'>

        <td class="formlabel"><font color='red'></font>Origin</td>
        <td class="formInputcolumn">

            @Html.Hidden("Origin")
            @Html.TextBox("Text_Origin", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })

        </td>
        <td class="formlabel">Destination</td>
        <td class="formInputcolumn">

            @Html.Hidden("Destination")
            @Html.TextBox("Text_Destination", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:250px;" })


        </td>

    </tr>
    <tr class='formSection'>
        <td class="formlabel">DateType</td>
        <td class="formInputcolumn">
            <input type="radio" name="FilterDate" id="IsBookingDate" checked="checked" value="B">Booking Date
            <input type="radio" name="FilterDate" id="IsFlightDate" value="F">Flight Date
        </td>
        <td class="formlabel"></td>
        <td class="formInputcolumn">
            @*<input type="radio" name="FilterReference" id="IsAWBNo" checked="checked" value="A">AWB No.
                <input type="radio" name="FilterReference" id="IsReferenceNo" value="R">Reference No.*@
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'>*</font>From Date</td>
        <td class="formInputcolumn">
            <input type='text' name='Fromdate' id='Fromdate' style='width: 133px;' data-valid='required'
                   data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
        </td>
        <td class="formlabel"><font color='red'>*</font>To Date</td>
        <td class="formInputcolumn">
            <input type='text' name='Todate' id='Todate' style='width: 133px;' data-valid='required'
                   data-role="datepicker" data-valid-msg='Select To Date' controltype='datetype' value='' placeholder='To Date' />
        </td>
    </tr>
    @*<tr class='formSection'>
            <td class="formlabel">Flight From Date</td>
            <td class="formInputcolumn">
                <input type='text' name='FtFromdate' id='FtFromdate' style='width: 133px;'
                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
            </td>
            <td class="formlabel">Flight To Date</td>
            <td class="formInputcolumn">
                <input type='text' name='FtTodate' id='FtTodate' style='width: 133px;'
                       data-role="datepicker" data-valid-msg='Select To Date' controltype='datetype' value='' placeholder='To Date' />
            </td>
        </tr>*@
    <tr class='formSection'>
        <td class="formlabel">Mail Type</td>
        <td class="formInputcolumn">
            @Html.Hidden("CNNo")
            @Html.TextBox("Text_CNNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:150px;" })
            @*<input type="radio" name="FilterReference" id="IsCN38No" value="CN38No">CN38No
            <input type="radio" name="FilterReference" id="IsCN47No" value="CN47No">CN47No*@
        </td>
        @*<td class="formlabel">AWB Number</td>*@
        @*<td class="formInputcolumn">
            @Html.Hidden("AWBNumber")
            @Html.TextBox("Text_AWBNumber", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })


            @*<input type='text' name='AWBNumber' id='AWBNumber' style='width: 133px;' />*@
        @*</td>*@
        <td class="formlabel"><label id="lblCNNo"></label></td>
        <td class="formInputcolumn">
            @Html.Hidden("CN38No")
            @Html.TextBox("Text_CN38No", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
            @Html.Hidden("CN47No")
            @Html.TextBox("Text_CN47No", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
            @*<input type='text' name='ReferenceNumber' id='ReferenceNumber' style='width: 133px;'  />*@
        </td>
    </tr>

    @*<tr class='formSection'>
            <td class="formlabel"><font color='red'></font>Flight No.</td>
            <td class="formInputcolumn">

                @Html.Hidden("BookingFlightNo")
                @Html.TextBox("Text_BookingFlightNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })

            </td>

        </tr>*@
    @*<tr class='formSection'>
            <td class="formlabel"><font color='red'></font></td>
            <td class="formlabel">
                <span id="spnBookingFilter">
                    <input type="radio" name="Filter" id="IsAccepted" value="Accepted">Accepted
                    <input type="radio" name="Filter" id="IsExecuted" value="Executed">Executed
                </span>
            </td>
        </tr>*@
    <tr class='formSection'>
        <td colspan='10'>
            <input type="button" name='SearchSave' value='Search' class='btn btn-success' id="btnSubmit" />
            @*<input type="button" name='ExcelVersionDetails' value='Export To Excel' class='btn btn-success' id="btnSubmit" src="../Images/IconExcel.png" />*@
            <div id="exportflight" style="margin-left: 68px;margin-top: -26px; display:none"><img id=" imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer;" title="Export To Excel" onclick="ExportToExcel_Flight()" /></div>
        </td>
    </tr>


</table>
<div id="grid">

</div>

<script src="~/JScript/Report/POMailReport.js"></script>