
<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>AWB Penalty Report</td></tr>
                        <tr ><td class='formActiontitle' colspan='4'><span id='__SpanHeader__'>AWB Penalty </span><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>
                       

                        <tr><td class='formSection' colspan='4'>
                            <input type="radio" name="PenaltyType" id="NoShow" value="0">No Show
                                <input type="radio" name="PenaltyType" id="Void" value="1"> Void
                                <input type="radio" name="PenaltyType" id="Cancelation" value="3"> Cancellation
                            </td></tr>
                        <tr class="trRadio">
                            <td class='formlabel' title='Airline'   align="left">
                                <font color='red'></font><span id='spnAirlineCode'>
                                    <input type="radio" name="Filter" id="AWbNoCheck" value="A">AWB/Ref No.
                                    <input type="radio" name="Filter" id="DateWise" value="D"> Date Wise
                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                                                    
                        </tr>

                        <tr class="DateWiseRow">
                      
                        </tr>
                        <tr class="DateWiseRow">
                         
                        </tr>
                        <tr class="DateWiseRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    From Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
                            </td>
                            <td class=' formlabel' title='Office'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    To Date :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                <input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                       data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
                            </td>
                        </tr>
                      
                        <tr class="AWBNoRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Reference Number :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("ReferenceNumber")

                                @Html.TextBox("Text_ReferenceNumber", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Reference Number  can not be blank" })
                            </td>
                            <td class=' formlabel' title='Office'>
                                <font color='red'>*</font>AWB No<span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formInputcolumn'>

                                @Html.Hidden("AWBNo")

                                @Html.TextBox("Text_AWBNo", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "AWBNo  can not be blank" })

                            </td>
                        </tr>

                        <tr class="AWBNoR">
                          
                            <td class=' formlabel' title='Office'>
                                <font color='red'>*</font>AWB No<span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formInputcolumn'>

                                @Html.Hidden("AWBNo1")

                                @Html.TextBox("Text_AWBNo1", null, new { data_valid = "", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "AWBNo  can not be blank" })

                            </td>
                            <td class=' formlabel' title='Airline'></td>
                            <td class='formInputcolumn'></td>
                        </tr>
                        <tr>
                            <td class=' formlabel' title='Airline '>
                                <font color='red'></font><span id='spnAirlineCode'>
                                    <input type='submit' name='operation' onclick="SearchAWBPenalty()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                            <td class='formlabel'>
                                <font color='red'></font><span id='spnAirlineCode'>

                                </span>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <br />



                    <div id="BindBlakListTable" style="width:100%">

                    </div>
                </div>

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <div id="example">
            <div id="grid" style="font-size:14px;"></div>
            <script src="~/JScript/Export/AWBPenalty.js"></script>

        </div>


    </section>

    <input type="hidden" value="@ViewBag.uid" id="uid" /> 

    </div>