<table class='WebFormTable' id='tbl' validateonsubmit=true>
    <tr><td class='formSection' colspan='10'>Booking Report </td></tr>
    <tr><td class='formlabel' colspan='10'><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'>*</font>Airline Name</td>
        <td class="formInputcolumn">
            @Html.Hidden("Airline")
            @Html.TextBox("Text_Airline", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank", style = "width:200px;" })
        </td>
        <td class="formlabel"><font color='red'></font>Flight No.</td>
        <td class="formInputcolumn">

            @Html.Hidden("BookingFlightNo")
            @Html.TextBox("Text_BookingFlightNo", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'></font>Origin</td>
        <td class="formInputcolumn">
            @Html.Hidden("Origin")
            @Html.TextBox("Text_Origin", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
        <td class="formlabel">Destination</td>
        <td class="formInputcolumn">
            @Html.Hidden("Destination")
            @Html.TextBox("Text_Destination", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel">Office Name</td>
        <td class="formInputcolumn">
            @Html.Hidden("Office")
            @Html.TextBox("Text_Office", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
        <td class="formlabel">Commodity</td>
        <td class="formInputcolumn">
            @Html.Hidden("Commodity")
            @Html.TextBox("Text_Commodity", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel">Agent Name</td>
        <td class="formInputcolumn">
            @Html.Hidden("AgentName")
            @Html.TextBox("Text_AgentName", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
        <td class="formlabel"><font color='red'></font>Product Name</td>
        <td class="formInputcolumn">
            @Html.Hidden("Product")
            @Html.TextBox("Text_Product", null, new { controltype = "autocomplete", data_role = "autocomplete", style = "width:200px;" })
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'>*</font>From Date</td>
        <td class="formInputcolumn">
            @*@Html.TextBox("Fromdate", null, new { data_valid = "required", data_valid_msg = "From Date can not be blank", style = "width:200px;" })*@
            <input type='text' name='Fromdate' id='Fromdate' style='width: 133px;' data-valid='required'
                   data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />
        </td>
        <td class="formlabel"><font color='red'>*</font>To Date</td>
        <td class="formInputcolumn">
            @*@Html.TextBox("Todate", null, new { data_valid = "required", data_valid_msg = "To Date can not be blank", style = "width:250px;" })*@
            <input type='text' name='Todate' id='Todate' style='width: 133px;' data-valid='required'
                   data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />
        </td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel"><font color='red'></font></td>
        <td class="formlabel">
            <span id="spnBookingFilter" style="float:left">
                <input type="radio" name="Filter" id="IsAccepted" checked="checked" value="Accepted">Accepted
                <input type="radio" name="Filter" id="IsExecuted" value="Executed">Executed
                <input type="radio" name="Filter" id="IsDeparted" value="Departed">Departed
            </span>
        </td>
        <td class="formlabel">Shipment Type</td>
        <td class="formInputcolumn"><span id="spnShipmentFilter" style="float:left">
    <input type="radio" name="Domestic" id="IsDomestic" checked="checked" value="Domestic">Domestic
    <input type="radio" name="Domestic" id="IsInternational" value="International">International
    <input type="radio" name="Domestic" id="IsBoth" value="Both">Both
</span></td>
    </tr>
    <tr class='formSection'>
        <td class="formlabel">
            <div id="exportflight" style="display:none;float:left"><img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer;" title="Export To Excel" onclick="ExportToExcel_Flight()" /></div>
        </td>
        <td class="formInputcolumn">
            <input type="button" name='SearchSave' value='Search' class='btn btn-success' id="btnSubmit" />
        </td>
        <td class="formlabel"><font color='red'></font></td>
        <td class="formlabel"></td>
    </tr>
</table>
<div id="grid">
</div>
<div class="k-grid-header-wrap" id="grid_bookingprofile" style="display:none;overflow-x:scroll;overflow-y:scroll;margin-left:10px;">


    <br />
    @*<table class="appendGrid ui-widget" style="margin-bottom:10px;" align="center" id="tbl_bookingprofile">


            <thead class="ui-widget-header" style="text-align:center" id="theadid_shipment">

                <tr>

                    <td class="ui-widget-header">AWB No.</td>
                    <td class="ui-widget-header">Booking Type</td>
                    <td class="ui-widget-header">AWB Date</td>
                    <td class="ui-widget-header">Flight Date</td>
                    <td class="ui-widget-header">Agent</td>
                    <td class="ui-widget-header">Origin</td>
                    <td class="ui-widget-header">Destination</td>
                    <td class="ui-widget-header">Commodity</td>
                    <td class="ui-widget-header">Nature of Goods</td>
                    <td class="ui-widget-header">Product</td>
                    <td class="ui-widget-header">Flight No.</td>
                    <td class="ui-widget-header">Pieces</td>

                    <td class="ui-widget-header">Chargable Wt.</td>
                    <td class="ui-widget-header">Rate</td>
                    <td class="ui-widget-header">Amount</td>
                    <td class="ui-widget-header">Yield</td>


                </tr>
            </thead>
            <tbody id="tbodygridbookingprofile" class="ui-widget-content"></tbody>
        </table>*@
</div>

<script src="~/JScript/Schedule/BookingReport.js"></script>