

<div id="divbody" style="height:auto">
    <section id="loginForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Stock Ageing Report</td></tr>
                        @*<tr><td class='formSection' colspan='4'><span id='__SpanHeader__'>Stock Ageing Report</span><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>*@
                        @*<tr><td class='formSection' colspan='4'>Stock Ageing Report</td></tr>*@


                        <tr class="DateWiseRow">
                            <td class=' formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Airline
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("AirlineCode")


                                @Html.TextBox("Text_AirlineCode", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank" })
                            </td>

                            <td class=' formlabel'>
                                @*<font color='red'>*</font><span id='spnAirlineCode'>
                                        To Date :
                                    </span>*@
                            </td>
                            <td class='formInputcolumn'>
                                @*<input type='text' name='ToDate' id='ToDate' style='width: 133px;' data-valid='required'
                                    data-role="datepicker" data-valid-msg='Select From To Date' controltype='datetype' value='' placeholder='To Date' />*@
                            </td>
                        </tr>

                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Quater'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Quarter :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Quater")


                                @Html.TextBox("Text_Quater", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Quater can not be blank" })
                                @*<input type="radio" name="StatusType" checked="checked" value="0"> Request
                                    <input type="radio" name="StatusType" value="1"> Approved
                                    <input type="radio" name="StatusType" value="2"> Rejected*@
                            </td>
                            <td class=' formlabel' title='Year'>
                                <font color='red'>*</font><span id='spnAirlineCode'>
                                    Year :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @*<input type='text' name='FromDate' id='FromDate' style='width: 133px;' data-valid='required'
                                    data-role="datepicker" data-valid-msg='Select From Date' controltype='datetype' value='' placeholder='From Date' />*@
                                @Html.Hidden("Year")


                                @Html.TextBox("Text_Year", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Year can not be blank" })
                            </td>

                        </tr>
                        <tr class="DateWiseRow"></tr>
                        <tr>
                            <td class=' formlabel' colspan="4">
                                <center> <input type='submit' name='operation' value='Search' onclick="GetReportData()" id="btnSearch" class='btn btn-success btnSearch' /></center>
                            </td>


                        </tr>
                    </table>
                    <br />
                    <br />



                    <div id="BindBlakListTable" style="width:100%">

                    </div>
                </div>

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <div id="example">
            <div id="grid" style="font-size:14px;"></div>
            <script src="~/JScript/Stock/StockAgeingReport.js"></script>

        </div>


    </section>


</div>



