


<div id="divbody" style="height:auto">
    <div id='MainDiv'>
        <table class='WebFormTable' id='tbl' validateonsubmit=true>
            <tr><td class='formSection' colspan='4'>Flight Wise Performance Report</td></tr>
            <tr>
                <td class='formSection' colspan='4'>
                    <span id='__SpanHeader__'> </span>
                    <div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div>
                </td>
            </tr>

            <tr class="DateWiseRow">
                <td class=' formlabel' title='Airline'>
                    <font color='red'>*</font><span>
                        Airline
                    </span>
                </td>
                <td class='formInputcolumn'>
                    @Html.Hidden("AirlineCode")
                    @Html.TextBox("Text_AirlineCode", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank" })
                </td>
                <td class=' formlabel'>
                    <font color='red'></font><span>
                       
                    </span>
                </td>
                <td class='formInputcolumn'>               
                    <input type="radio" name="Filter" value="0" id="IsGrWt" checked="checked">Gr. Wt
                    <input type="radio" name="Filter" value="1" id="IsChWt">Ch. Wt                    
                </td>
            </tr>
            <tr class="DateWiseRow">
                <td class=' formlabel' title='From Date'>
                    <font color='red'>*</font><span id='spnAirlineCode'>
                        Month :
                    </span>
                </td>
                <td class='formInputcolumn'>
                    @Html.Hidden("Month")
                    @Html.TextBox("Text_Month", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Month can not be blank" })
                </td>
                <td class=' formlabel' title='To Date'>
                    <font color='red'>*</font><span id='spnAirlineCode'>
                        Year :
                    </span>
                </td>
                <td class='formInputcolumn'>
                    @Html.Hidden("Year")
                    @Html.TextBox("Text_Year", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Year can not be blank" })
                </td>
            </tr>
            <tr>
                <td class='formlabel'>
                    <div id="exportflight" style="float:left;"><img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" title="Export To Excel" onclick="ExportToExcel_FlightWisePerformanceReport()" /></div>
                </td>
                <td class='formInputcolumn'>
                    <input type='submit' name='operation' onclick="SearchFlightWisePerformanceReport()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
                </td>

                <td class=' formlabel'></td>
                <td class='formInputcolumn'></td>

            </tr>
        </table>
        <br />
        <br />
    </div>
    <div id="example" style="overflow-x: scroll">
        <div class=" k-grid-header-wrap" id="grid">
            <br />
            <table id="tblsearchrateList" class="appendGrid ui-widget" style="margin-bottom:10px;" align="center">
                <thead class='ui-widget-header' style='text-align:center' id="theadid"></thead>
                <tbody id="tbodyid" style="text-align:center" class="ui-widget-content"></tbody>
            </table>
        </div>
        @*<div id="divEDITracking">

            </div>
            <table id='tbltracking' style='text-align: center'></table>*@
        <script src="~/PermissionScripts/jquery.appendGrid-1.3.1.js"></script>
        <script src="~/PermissionScripts/jquery.appendGrid-1.3.2.js"></script>
        <script src="~/JScript/Reservation/FlightWisePerformanceReport.js"></script>
    </div>
</div>



